{
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "pluginSearchDirs": ["."],
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 100
}
